#navbar {
    position: fixed;/* this makes it so that even when scrolling, the position will not change */
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #FFFFFF;
}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav li {
    display:inline-flex;
}
nav a {
    font-size: 12px;
}
h1 {
    position: relative;
    top: 80px;
    text-align: center;
}
div #searchbar {
    left: 0;
    position: absolute;
    text-align: center;
    top: 400px;
    width: 100%;
}